*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 25% 45% 20%; 
    grid-template-areas: 
    " Nav-Bar Nav-Bar "
    " Main Advert "
    " Main Suggested-Vids"
    " Video-Info Suggested-Vids";
}

nav {
    grid-area: Nav-Bar;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: Main;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert {
    grid-area: Advert;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggested-videos {
    grid-area: Suggested-Vids;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-info {
    grid-area: Video-Info;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

