*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F9F9F9;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 25% 53% 12%; 
    grid-template-areas: 
    " Nav-Bar Nav-Bar "
    " Main Advert "
    " Main Suggested-Vids"
    " Video-Info Suggested-Vids";
}

/* nav bar */ 
nav {
    grid-area: Nav-Bar;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

nav .left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
nav .left .burger {
    padding-left: 20px;
}
nav .left .burger div {
    width: 17px;
    height: 1.8px;
    background-color: grey;
    margin: 4px;
}
nav .left img {
    width: 50%;
    padding-left: 20px;
}
nav .search-bar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .search-bar input {
    width: 80%;
    height: 50%;
    border: 1px solid grey;
    border-radius: 1px;
}
nav .search-bar img {
    width: 4%;
}

nav .right {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .right img {
    padding: 10px;
    margin-right: 7px;
}
nav .right .video-icon {
    width: 12%;
}
nav .right .grid-view-icon {
    width: 12%;
}
nav .right .settings-icon {
    width: 12%;
}

nav .right button {
    width: 40%;
    height: 65%;
    padding: 5px;
    font-weight: bold;
    color: blue;
    border: 1px solid blue;
    border-radius: 2px;
    text-align: center;
}
.right button img {
    width: 20%;
}

/* main video display */
main {
    grid-area: Main;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe {
    align-self: flex-end;
}

.advert {
    grid-area: Advert;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggested-videos {
    grid-area: Suggested-Vids;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Video info */
.video-info-container {
    grid-area: Video-Info;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 1.7vw;
}
.hashtags {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    color: #065FD4;
    font-size: 1vw;
}
.title {
    color: #030303;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-size: 1.5vw;
}
.view-count {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    color: #606060;
    margin-top: 4vh;
}

.video-options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.video-options img {
    width: 1.5vw;
    margin-bottom: 2vh;
}
.video-options h2 {
    font-size: 0.75vw;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    color: #606060;
    margin-bottom: 1.5vh;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 2vw;
}

